In [5]:
import pandas as pd
df = pd.read_csv('Datos.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 1: invalid continuation byte

In [6]:
df = pd.read_csv('Datos.csv', encoding='ISO-8859-1')
df.head()

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1,1,2,1,2,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0,1,0,1,0,0.0,0.0,1.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,0,2,2,3,2,0,1,2,0.0,0.0,0.0
3,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,2,0,0,1,0,0,0,0,0,0.0,0.0,0.0
4,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,0,0,0,1,0,0,0,0,0.0,0.0,0.0

In [12]:
import chardet

def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        rawdata = f.read()
    result = chardet.detect(rawdata)
    return result

file_path = './Datos.csv'
encoding_info = detect_encoding(file_path)
print(f"Detected encoding: {encoding_info['encoding']}")

Detected encoding: ISO-8859-1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34496 entries, 0 to 34495
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     34496 non-null  int64
 1   Clave_Ent               34496 non-null  int64
 2   Entidad                 34496 non-null  object
 3   Bien jurídico afectado  34496 non-null  object
 4   Tipo de delito          34496 non-null  object
 5   Subtipo de delito       34496 non-null  object
 6   Modalidad               34496 non-null  object
 7   Enero                   34496 non-null  int64
 8   Febrero                 34496 non-null  int64
 9   Marzo                   34496 non-null  int64
 10  Abril                   34496 non-null  int64
 11  Mayo                    34496 non-null  int64
 12  Junio                   34496 non-null  int64
 13  Julio                   34496 non-null  int64
 14  Agosto                  34496 non-null  int64
 15  Septiembre              34496 non-null  int64
 16  Octubre                 31360 non-null  float64
 17  Noviembre               31360 non-null  float64
 18  Diciembre               31360 non-null  float64
dtypes: float64(3), int64(11), object(5)
memory usage: 5.0+ MB

In [9]:
for col in df.columns:
    print(col)

Año
Clave_Ent
Entidad
Bien jurídico afectado
Tipo de delito
Subtipo de delito
Modalidad
Enero
Febrero
Marzo
Abril
Mayo
Junio
Julio
Agosto
Septiembre
Octubre
Noviembre
Diciembre

In [13]:
def limpiar_columnas(df):
    columnas_limpias = []
    for col in df.columns:
        # convertir a minusculas, reemplazar espacios por guiones bajos y eliminar caracteres especiales
        col = col.lower().replace(" ", "_").replace("ñ", "ni").replace(".", "").replace("á", "a").replace("é", "e").replace("í","i").replace("ó", "o").replace("ú", "u")
        columnas_limpias.append(col)
    
    df.columns = columnas_limpias
    
    return df

In [14]:
df.columns = columnas_limpias

NameError: name 'columnas_limpias' is not defined

In [15]:
df = limpiar_columnas(df)

In [16]:
df.head(3)

,anio,clave_ent,entidad,bien_juridico_afectado,tipo_de_delito,subtipo_de_delito,modalidad,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1,1,2,1,2,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0,1,0,1,0,0.0,0.0,1.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,0,2,2,3,2,0,1,2,0.0,0.0,0.0

In [17]:
df[['anio', 'entidad']]

       anio         entidad
0      2015  Aguascalientes
1      2015  Aguascalientes
2      2015  Aguascalientes
3      2015  Aguascalientes
4      2015  Aguascalientes
...     ...             ...
34491  2025       Zacatecas
34492  2025       Zacatecas
34493  2025       Zacatecas
34494  2025       Zacatecas
34495  2025       Zacatecas

[34496 rows x 2 columns]

In [18]:
df = df[['anio', 'clave_ent', 'entidad', 'tipo_de_delito', 'subtipo_de_delito', 'modalidad','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']]
df.head(2)

,anio,clave_ent,entidad,tipo_de_delito,subtipo_de_delito,modalidad,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1,1,2,1,2,2.0,2.0,1.0
1,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0,1,0,1,0,0.0,0.0,1.0

In [19]:
print("Shape: ", df.shape)

Shape:  (34496, 18)

In [21]:
datos_long = df.melt(
  id_vars=['anio', 'clave_ent', 'entidad','tipo_de_delito', 'subtipo_de_delito', 'modalidad'],
  var_name='nombre_mes',
  value_name='frecuencia'
)

In [22]:
print("Shape: ", datos_long.shape)

Shape:  (413952, 8)

In [23]:
datos_long.head(5)

,anio,clave_ent,entidad,tipo_de_delito,subtipo_de_delito,modalidad,nombre_mes,frecuencia
0,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma de fuego,enero,3.0
1,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma blanca,enero,1.0
2,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con otro elemento,enero,0.0
3,2015,1,Aguascalientes,Homicidio,Homicidio doloso,No especificado,enero,2.0
4,2015,1,Aguascalientes,Homicidio,Homicidio culposo,Con arma de fuego,enero,0.0

In [24]:
datos_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413952 entries, 0 to 413951
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   anio               413952 non-null  int64
 1   clave_ent          413952 non-null  int64
 2   entidad            413952 non-null  object
 3   tipo_de_delito     413952 non-null  object
 4   subtipo_de_delito  413952 non-null  object
 5   modalidad          413952 non-null  object
 6   nombre_mes         413952 non-null  object
 7   frecuencia         404544 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 25.3+ MB

In [25]:
datos_long = datos_long.groupby(['anio', 'clave_ent', 'entidad', 'tipo_de_delito', 'nombre_mes'])['frecuencia'].sum().reset_index()
datos_long[datos_long.tipo_de_delito == 'Robo'].sample(15)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia
39754,2017,19,Nuevo León,Robo,octubre,1453.0
127594,2023,10,Durango,Robo,octubre,321.0
142945,2024,10,Durango,Robo,agosto,298.0
48391,2018,5,Coahuila de Zaragoza,Robo,marzo,990.0
10465,2015,22,Querétaro,Robo,agosto,1548.0
61352,2018,32,Zacatecas,Robo,mayo,649.0
109828,2022,5,Coahuila de Zaragoza,Robo,febrero,610.0
18629,2016,7,Chiapas,Robo,julio,812.0
127590,2023,10,Durango,Robo,junio,301.0
67590,2019,13,Hidalgo,Robo,junio,1058.0
134794,2023,25,Sinaloa,Robo,octubre,767.0
99752,2021,16,Michoacán de Ocampo,Robo,mayo,999.0
125670,2023,6,Colima,Robo,junio,465.0
103593,2021,24,San Luis Potosí,Robo,noviembre,1378.0
9986,2015,21,Puebla,Robo,diciembre,1705.0

In [26]:
datos_long[['clave_ent', 'entidad']].drop_duplicates().sort_values('entidad')

       clave_ent                          entidad
0              1                   Aguascalientes
480            2                  Baja California
960            3              Baja California Sur
1440           4                         Campeche
2880           7                          Chiapas
3360           8                        Chihuahua
3840           9                 Ciudad de México
1920           5             Coahuila de Zaragoza
2400           6                           Colima
4320          10                          Durango
4800          11                       Guanajuato
5280          12                         Guerrero
5760          13                          Hidalgo
6240          14                          Jalisco
7200          16              Michoacán de Ocampo
7680          17                          Morelos
6720          15                           México
8160          18                          Nayarit
8640          19                       Nuevo León
9120          20                           Oaxaca
9600          21                           Puebla
10080         22                        Querétaro
10560         23                     Quintana Roo
11040         24                  San Luis Potosí
11520         25                          Sinaloa
12000         26                           Sonora
12480         27                          Tabasco
12960         28                       Tamaulipas
13440         29                         Tlaxcala
13920         30  Veracruz de Ignacio de la Llave
14400         31                          Yucatán
14880         32                        Zacatecas

In [27]:
datos_long[datos_long['clave_ent'] == 4].sample(15) #Hub dice con Nuevo león pero quise realizarlo con mi estado

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia
47974,2018,4,Campeche,Violación simple,octubre,8.0
78245,2020,4,Campeche,Aborto,julio,0.0
94057,2021,4,Campeche,Violencia de género en todas sus modalidades d...,agosto,0.0
124699,2023,4,Campeche,Rapto,marzo,0.0
93695,2021,4,Campeche,Corrupción de menores,septiembre,0.0
78570,2020,4,Campeche,Otros delitos del Fuero Común,junio,1.0
155242,2025,4,Campeche,Feminicidio,octubre,0.0
16990,2016,4,Campeche,Falsificación,octubre,0.0
47869,2018,4,Campeche,Otros delitos que atentan contra la libertad y...,agosto,1.0
93849,2021,4,Campeche,Incesto,noviembre,0.0
32603,2017,4,Campeche,Violación equiparada,septiembre,10.0
109004,2022,4,Campeche,Acoso sexual,mayo,2.0
109065,2022,4,Campeche,Daño a la propiedad,noviembre,242.0
32573,2017,4,Campeche,Trata de personas,julio,0.0
1860,2015,4,Campeche,Tráfico de menores,abril,0.0

In [28]:
datos_long[(datos_long['clave_ent'] == 4) & (datos_long['tipo_de_delito'] == 'Homicidio')]

        anio  clave_ent   entidad tipo_de_delito  nombre_mes  frecuencia
1656    2015          4  Campeche      Homicidio       abril        10.0
1657    2015          4  Campeche      Homicidio      agosto         9.0
1658    2015          4  Campeche      Homicidio   diciembre        12.0
1659    2015          4  Campeche      Homicidio       enero        13.0
1660    2015          4  Campeche      Homicidio     febrero         7.0
...      ...        ...       ...            ...         ...         ...
155263  2025          4  Campeche      Homicidio       marzo        26.0
155264  2025          4  Campeche      Homicidio        mayo        19.0
155265  2025          4  Campeche      Homicidio   noviembre         0.0
155266  2025          4  Campeche      Homicidio     octubre         0.0
155267  2025          4  Campeche      Homicidio  septiembre        13.0

[132 rows x 6 columns]

In [29]:
datos_long[
    (datos_long['clave_ent'] == 4) &
    (datos_long['tipo_de_delito'] == 'Homicidio') &
    (datos_long['anio'] == 2025) &
    (datos_long['nombre_mes'] == 'abril') 
]

        anio  clave_ent   entidad tipo_de_delito nombre_mes  frecuencia
155256  2025          4  Campeche      Homicidio      abril        18.0

In [30]:
df["nueva_columna"] = "valor"

In [31]:
# Diccionario de ayuda para convertir
meses = {
    "enero": 1,
    "febrero": 2,
    "marzo": 3,
    "abril": 4,
    "mayo": 5,
    "junio": 6,
    "julio": 7,
    "agosto": 8,
    "septiembre": 9,
    "octubre": 10,
    "noviembre": 11,
    "diciembre": 12
}

datos_long['mes'] = datos_long['nombre_mes'].map(meses)
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,mes
141136,2024,7,Chiapas,Abuso de confianza,febrero,19.0,2
97386,2021,11,Guanajuato,Tráfico de menores,junio,0.0,6
67431,2019,13,Hidalgo,Hostigamiento sexual,enero,0.0,1
57294,2018,24,San Luis Potosí,Falsedad,junio,0.0,6
54263,2018,18,Nayarit,Abuso de confianza,septiembre,1.0,9

In [32]:
datos_long['fecha'] = pd.to_datetime(
  datos_long['anio'].astype(str) + datos_long['mes'].astype(str),
  format='%Y%m'
)
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,mes,fecha
82817,2020,13,Hidalgo,Incumplimiento de obligaciones de asistencia f...,julio,25.0,7,2020-07-01
111427,2022,9,Ciudad de México,Amenazas,marzo,1666.0,3,2022-03-01
153566,2024,32,Zacatecas,Violación simple,diciembre,11.0,12,2024-12-01
13485,2015,29,Tlaxcala,Acoso sexual,noviembre,0.0,11,2015-11-01
110568,2022,7,Chiapas,Falsedad,abril,1.0,4,2022-04-01

In [38]:
datos_long[
    (datos_long.tipo_de_delito == "Homicidio") &
    (datos_long.clave_ent == 20) &
    (datos_long.fecha >= '2024-01-01')
].sort_values('fecha')

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,mes,fecha
147579,2024,20,Oaxaca,Homicidio,enero,154.0,1,2024-01-01
147580,2024,20,Oaxaca,Homicidio,febrero,166.0,2,2024-02-01
147583,2024,20,Oaxaca,Homicidio,marzo,184.0,3,2024-03-01
147576,2024,20,Oaxaca,Homicidio,abril,200.0,4,2024-04-01
147584,2024,20,Oaxaca,Homicidio,mayo,223.0,5,2024-05-01
147582,2024,20,Oaxaca,Homicidio,junio,195.0,6,2024-06-01
147581,2024,20,Oaxaca,Homicidio,julio,201.0,7,2024-07-01
147577,2024,20,Oaxaca,Homicidio,agosto,186.0,8,2024-08-01
147587,2024,20,Oaxaca,Homicidio,septiembre,190.0,9,2024-09-01
147586,2024,20,Oaxaca,Homicidio,octubre,185.0,10,2024-10-01
147585,2024,20,Oaxaca,Homicidio,noviembre,168.0,11,2024-11-01
147578,2024,20,Oaxaca,Homicidio,diciembre,151.0,12,2024-12-01
162939,2025,20,Oaxaca,Homicidio,enero,170.0,1,2025-01-01
162940,2025,20,Oaxaca,Homicidio,febrero,141.0,2,2025-02-01
162943,2025,20,Oaxaca,Homicidio,marzo,193.0,3,2025-03-01
162936,2025,20,Oaxaca,Homicidio,abril,185.0,4,2025-04-01
162944,2025,20,Oaxaca,Homicidio,mayo,172.0,5,2025-05-01
162942,2025,20,Oaxaca,Homicidio,junio,132.0,6,2025-06-01
162941,2025,20,Oaxaca,Homicidio,julio,159.0,7,2025-07-01
162937,2025,20,Oaxaca,Homicidio,agosto,106.0,8,2025-08-01
162947,2025,20,Oaxaca,Homicidio,septiembre,96.0,9,2025-09-01
162946,2025,20,Oaxaca,Homicidio,octubre,0.0,10,2025-10-01
162945,2025,20,Oaxaca,Homicidio,noviembre,0.0,11,2025-11-01
162938,2025,20,Oaxaca,Homicidio,diciembre,0.0,12,2025-12-01

In [41]:
datos_finales = df.copy()  
datos_finales.to_csv('data/delitos.csv', index=False)